 <section layout="row" layout-xm="column" layout-align="end center" layout-wrap>
   <div layout="row" layout-align="start center" flex>
   <md-button class="md-primary">MEMBERSHIPS</md-button>
  <span flex></span>
</div>
  <md-button class="md-primary">SCHEDULE</md-button>
  <md-button class="md-primary">CONTACT</md-button>
</section>


<!-- <section layout="row" layout="column"  layout-wrap>
  <span flex></span>
</div>
  <md-button class="md-primary">SCHEDULE</md-button>
  <md-button class="md-primary">CONTACT</md-button>
</section>

<md-button class="btn1">Button</md-button>
<md-button class="md-raised md-background btn1">Background</md-button>
<md-button class="md-raised md-primary btn1">VIEW FLIGHT INFO</md-button>
<md-button class="md-raised md-warn btn1">Warn</md-button>
<md-button class="md-raised md-accent btn1">Accent</md-button>

<div layout="row">
  <div flex="100" class="h1-2">

      MEMBER BENEFITS 

  </div>
</div>


      <md-toolbar flex>
          <div class="md-toolbar-tools">
              <span class="left" flex="35">flex=35</span>
              <span class="center" flex="30">flex=30</span>
              <span class="right" flex="35">flex=35</span>
    </div>
      </md-toolbar>
</div>
 -->

      <md-button class="md-icon-button" aria-label="icon">
        <i class="md-icon"><i class="material-icons">pregnant_woman</i></i>
      </md-button>

      <i class="material-icons">pregnant_woman</i>


<md-list>
  <md-list-item>
    <img class="md-avatar" ng-src="path/to/img">
    <span>Item content in list</span>
  </md-list-item>
  <md-list-item>
    <md-icon class="md-avatar-icon" md-svg-icon="communication:phone"></md-icon>
    <span>Item content in list</span>
  </md-list-item>
</md-list>
