<div autoscroll class="page-container-padding-bottom">
  <h1 class="text-center padding-top no-margin-top">
  CONTACT
  </h1>
  <h2 class="text-center margin-auto margin-bottom" flex-xs="95" flex-gt-xs="75">
  Have a question? Call our office, email us or shoot us a message using this form.
  </h2>
  <div layout="row" layout-xs="column" flex-gt-xs="60" flex-offset-gt-xs="20" flex-xs="100">
      <div flex class="text-center member-details">
        <i class="material-icons">&#xE0CD;</i>
        <div class="margin-auto">
          <p>
            <a href="tel:8887330175"> (888) 733-0175 </a>
          </p>
        </div>
      </div>
      <div flex class="text-center member-details simplified-travel-list">
        <i class="material-icons">&#xE158;</i>
        <div class="margin-auto text-center">
          <p>
            <a href="mailto:fly@freshmtnair.com"> fly@freshmtnair.com </a>
          </p>
        </div>
      </div>
  </div>
  <div ng-include src="'views/partials/forms/main-contact-form.html'">
  </div>
</div>
<div ng-include src="'views/partials/footer.html'">
</div>
