<div class="page-container">
  <div layout="row" ng-cloak>
    <div class="jumbo">
      <div layout="column" class="text-center margin-auto content-column" layout-fill layout-align="center" flex-gt-sm="80" flex-xs="95">
        <h1 class="no-margin-bottom"> WHY SIT IN TRAFFIC?</h1>
        <h2 class="no-margin-bottom"> When you can fly to the mountains in <strong> 40 minutes. </strong> </h2>
        <h3 style="
        font-weight: 300;"> All-you-can-fly membership to Telluride, Aspen and Eagle-Vail for one low monthly fee. </h3>
<!--         <a href="#howitworks"> -->
          <a ng-controller="scrollCtrl" ng-click="scrollToHowItWorks()">
          <md-button class="md-raised md-primary btn-100">HOW IT WORKS</md-button>
          </a>
<!--         </a> -->
      </div>
    </div>
  </div>

<a ng-controller="scrollCtrl"id="howitworks">
</a>
  <div flex="100" class="text-center">
    <h1 class="margin-bottom"> HOW IT WORKS </h1>
    <h3> Save time with the best travel solution to the mountains.</h3>
  </div>
  <div layout="row" class="news-video">
    <video width="75%" height="50%" class="margin-auto" controls poster="../images/video-still.png">
      <source src="../images/skip-the-traffic.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>


  <div flex="100" class="text-center get-there-faster">
    <h1> Get there faster with <img src="images/freshair-logo-text.png">.</h1>
  </div>

  <div ng-include class="margin-bottom" src="'views/partials/member-benefits.html'">
  </div>

<md-card flex-gt-xs="75" flex-xs="95" class="margin-auto">
  <div ng-include style="
    background-color: rgba(224,224,224,1);
    padding-bottom: 40px;
" src="'views/partials/conversation.html'">
  </div>
</md-card>

  </div>
  <div ng-include src="'views/partials/footer.html'"> 
</div>
