<div autoscroll class="page-container padding-bottom-80">
  <div layout="row">
    <div class="jumbo">
      <div layout="column" class="text-center margin-auto content-column" layout-fill layout-align="center"  flex-gt-xs="80" flex-xs="95">
        <h1 class="no-margin-bottom"> WHY SIT IN TRAFFIC?</h1>
        <h2 class="no-margin-bottom"> When you can fly to the mountains in <strong> 40 minutes. </strong> </h2>
        <h3 style="
        font-weight: 300;"> All-you-can-fly membership to Telluride, Aspen and Eagle-Vail for one low monthly fee. </h3>
        <a ng-controller="scrollCtrl" du-smooth-scroll du-scrollspy href="#howitworks">
          <md-button class="md-raised md-primary btn-100">HOW IT WORKS</md-button>
        </a>
      </div>
    </div>
  </div>

  <div hide-sm hide-xs ng-include class="margin-bottom" src="'views/map.html'">
  </div>

  <div hide-gt-sm ng-include src="'views/mobile-map.html'">
  </div>

  <a ng-controller="scrollCtrl "id="howitworks">
  </a>
  <div flex="100" class="text-center padding-top">
    <h1 class="margin-bottom"> HOW IT WORKS </h1>
    <h3> Save time with the best travel solution to the mountains.</h3>
  </div>
  <div layout="row" class="news-video">
    <video width="75%" height="50%" class="margin-auto" controls poster="../images/video-still.jpg">
      <source src="../images/skip-the-traffic.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
  <div flex="100" class="text-center get-there-faster padding-top-40">
    <h1 class="no-margin-top"> Get there faster with <img src="images/freshair-logo-text.png">.</h1>
  </div>
  <div ng-include class="margin-bottom" src="'views/partials/member-benefits.html'">
  </div>
  <md-card flex-gt-sm="80" flex-sm="95" flex-xs="95" class="margin-auto margin-bottom">
  <div ng-include style="
    background-color: rgba(224,224,224,1);
    padding-bottom: 40px;
    " src="'views/partials/conversation.html'">
  </div>
  </md-card>
</div>
<div ng-include src="'views/partials/footer.html'">
</div>