<div ng-controller="mapCtrl">
    <div flex="100" class="text-center padding-top">
    <h1 class="margin-bottom"> OUR FLIGHTS </h1>
  </div>

  <div layout="row" class="">
    <md-card class="margin-auto map-card">
      <img style="
    position: relative;
    width: 85px;
    height: 50px;
    top: 200px;
    left: 400px;
" src="../images/map/denver.png">
      <img style="

    position: relative;
    width: 380px;
    height: 255px;
    top: 120px;
    left: 48px;

" src="../images/map/telluride.png">
<img style="


    position: relative;
    width: 230px;
    height: 108px;
    bottom: 173px;
    left: 209px;
    

" src="../images/map/vail.png">

<img ng-click="showCb($event, 'Crested Butte')" style="


    position: relative;
    width: 262px;
    height: 160px;
    bottom: 194px;
    left: 168px;


" src="../images/map/crested-butte.png">

<img style="


    position: relative;
    width: 275px;
    height: 160px;
    bottom: 351px;
    left: 155px;
    

" src="../images/map/aspen.png">

<img ng-click="showSteamboat($event, 'Steamboat Springs')" style="


    position: relative;
    width: 340px;
    height: 130px;
    bottom: 620px;
    left: 100px;
    

" src="../images/map/steamboat.png">
    </md-card>
  </div>


<!--  <md-button class="md-primary md-raised" ng-click="showAdvanced($event)" flex="100" flex-gt-md="auto">
      Custom Dialog
    </md-button> -->

    </div>

<!--   <div ng-include src="'views/partials/footer.html'">
</div> -->
