<div class="page-container">
<div class="text-center h1-2">
   MEMBERSHIPS
</div>

<div layout="row" layout-xs="column" class="grey-background">
  <div flex class="text-center">
    <img class="benefits" src="../images/airplane-icon.png">
    <md-card class="white-card">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Private Jets</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the
          two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        </p>
        <p>
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the
          two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        </p>
      </md-card-content>
    </md-card>
  </div>
  <div flex class="text-center">
    <img class="benefits" src="../images/airplane-icon.png">
    <md-card class="white-card">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Private Jets</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the
          two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        </p>
        <p>
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the
          two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        </p>
      </md-card-content>
    </md-card>
  </div>
  <div flex class="text-center">
    <img class="benefits" src="../images/airplane-icon.png">
    <md-card class="white-card">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Private Jets</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the
          two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        </p>
        <p>
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the
          two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        </p>
      </md-card-content>
    </md-card>
  </div>
</div>
</div>
