<div autoscroll="true" class="page-container" ng-cloak>
  <div class="page-container">
    <h1 class="text-center padding-top no-margin-top">
    MEMBERSHIP OPTIONS
    </h1>
    <h2 class="text-center margin-auto padding-bottom" flex-gt-xs="80">
      <a href="/contact">Contact us</a> to get started.
    </h2>


    <div layout="row" class="grey-background margin-auto" flex="100" >
      <div layout="row" flex-gt-sm="80" layout-xs="column" layout-xs="column" layout-padding class="margin-auto">
        <div flex class="text-center member-details">
          <i class="material-icons">person_outline</i>
          <h2>Personal</h2>
          <h4>$1000 per month </h4>
          <div flex-sm="95" class="margin-auto">
            <p>
              Unlimited flights for one <br>
              Access to guest passes <br>
              Add members for $750/month* <br>
              Premier access is $500/month* <br>
              One-time $1,500 initiation fee <br>
            </p>
          </div>
        </div>
        <div flex class="text-center member-details simplified-travel-list">
          <i class="material-icons">group</i>
          <h2>Family</h2>
          <h4>$3000 per month </h4>
          <div flex-sm="95"  class="margin-auto">
            <p>
              Unlimited flights for four <br>
              Access to guest passes <br>
              Add members for $500/month* <br>
              Premier access is $500/month* <br>
              One-time $5,000 initiation fee <br>
            </p>
          </div>
        </div>
        <div flex class="member-details text-center">
          <i class="material-icons">business</i>
          <h2>Business</h2>
          <h4> $3,500 per month </h4>
          <div flex-sm="95" class="margin-auto">
            <p>
              Unlimited flights for four <br>
              Access to guest passes<br>
              Add members for $500/month* <br>
              Premier access is $500/month* <br>
              One-time $10,000 initiation fee <br>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-include src="'views/partials/footer.html'">
  </div>
</div>