@import 'navigation';
@import 'md-settings';
@import 'video';
@import 'animation';
@import 'typography';
@import 'map-feature';

$darkblue: #263248;
$primary: #24aae1;
$greyblue: #7e8aa2;
// $gold: #ff9800;
$black: #000;
$grey: #9b9b9b;
$darkgrey: #454545;
$lightgrey: #b4b4b4;
$white: #fff;
$primary-button-on-hover: #198ab9;
$anchor-color: #6ec4e9;

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

*:focus {
  outline: none;
}

body, html {
  background-color: $darkblue;
  font-family: $font-family-sans-serif;
}

h1 {
  font-weight: 400
}

h2, h3 {
  font-weight: 300;
  line-height: 1.1;
}

a {
  color: $primary;
}

strong {
  font-weight: 400;
}

.container {
  margin: auto;
  max-width: 1500px;
}

.jumbo {
  background: url('../images/emmons-compressed.jpg') no-repeat;
  background-position: right;
  background-size: cover;
  height: 90vh;
  overflow: hidden;
  width: 100vw;
  min-height: 500px;
  max-height: 900px;


  @media (max-width: 768px) {
  background: url('../images/emmons-compressed.jpg') no-repeat;
  background-position: 80%;
  background-size: cover;
  height: 90vh;
  overflow: hidden;
  width: 100vw;
  }

  .content-column {
    // @media (min-width: 768px) {
      padding-top: 12vh;
    // }
  }

  h1 {
    font-weight: 600;
    font-size: 55px;

        @media (max-width: 960px) {
      font-size: 45px;
    }
  }
}

.page-container {
  background-color: $white;
}

.page-container-padding-bottom {
  background-color: $white;
  padding-bottom: 6%;
}

.padding-top {
  padding-top: 20px;
}

.padding-top-40 {
  padding-top: 40px;
}

.padding-bottom-40 {
  padding-bottom: 40px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.padding-bottom {
  padding-bottom: 20px;
}

.padding-bottom-60 {
  padding-bottom: 60px;
}

.padding-bottom-80 {
  padding-bottom: 80px;
}

.margin-top {
  margin-top: 20px;
}

.margin-bottom {
  margin-bottom: 20px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.no-margin {
  margin: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-margin-top {
  margin-top: 0;
}

.white {
  color: $white;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.margin-auto {
  margin: auto;
}

.headline {
  @extend h2;
  color: $black;
  font-size: x-large;
  font-weight: 100;
  letter-spacing: 1.69px;
  margin-top: 1em;
}

.darkblue-background {
  background-color: $darkblue;
}

.form-image img {
  margin: auto;
  opacity: .1;
  width: 75px;
  height: 75px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.button-stlye {
  color: $white;
  letter-spacing: 3px;
}

img.md-card-image.jumbotron-image {
  max-width: 380px;
  width: 100%;
}

.material-icons {
  font-size: 70px;
}

.main-info-lg img {
  width: 95px;
}

.benefits {
  background-color: $greyblue;
  border-radius: 70px;
  color: $white;
  height: 50px;
  margin-bottom: -20px;
  padding: 20px;
  width: 50px;
}

.section-divider {
  background-color: $darkblue;
  height: 150px;
}

.get-there-faster img {
  margin-left: 5px;
  margin-right: 2px;
  width: 210px;
}

.footer {
    background-color: $darkgrey;
    color: $white;
    padding-top: 6%;
    padding-bottom: 12%;

  h4 {
    font-weight: 300;
  }

  a:hover {
    font-weight: 600;
  }

  a {
    color: $white;
    text-decoration: none;
  }

  img {
    width:25px;
  }

  img:hover {
    opacity: .5;
  }
}

.faq-page h1 {
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 20px;
}

.question-categories .headline {
  cursor: pointer;
}

.headline:focus {
  outline: none;
}

.headline:hover {
  font-weight: 400;
}

.headline-selected {
  font-weight: bold;
}

.headline-selected:hover {
  font-weight: bold;
}


.question p {
  font-weight: bold;
  margin-bottom: 0px;
}

.answer p {
  margin-top: 0;
}

.member-details {
  margin-bottom: 2%;
  padding: 10px;

  i {
    background-color: $darkblue;
    border: $primary solid;
    border-radius: 48px;
    color: $white;
    padding: 10px;
  }

  h2 {
    font-weight: 400;
    margin-top: 10px;
  }
}

.membership-page {
  h4 {
    font-weight: 500;
  }

  h2 {
    font-weight: 400;
  }

  p {
    font-size: 14px; 
  }
}
