@import 'navigation';
@import 'md-settings';
@import 'video';
@import 'animation';
@import 'typography';

$darkblue: #263248;
$primary: #24aae1;
$greyblue: #7e8aa2;
// $gold: #ff9800;
$black: #000;
$grey: #9b9b9b;
$darkgrey: #454545;
$lightgrey: #b4b4b4;
$white: #fff;
$primary-button-on-hover: #198ab9;
$anchor-color: #6ec4e9;

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

*:focus {
  outline: none;
}

body {
  background: $darkblue;
  font-family: $font-family-sans-serif;
}

h1, h2, h3 {
  font-weight: 300;
  line-height: 1.1;
}

a {
  color: $anchor-color;
}

strong {
  font-weight: 400;
}

.container {
  margin: auto;
  max-width: 1500px;
}

.jumbo {
  background: url('../images/mt-emmons-shrink2.png') no-repeat;
  background-position: right;
  background-size: cover;
  height: 90vh;
  overflow: hidden;
  width: 100vw;

  @media (max-width: 768px) {
    background: url('../images/mt-emmons-shrink2-half.png') no-repeat;
    background-size: cover;
    height: 90vh;
    overflow: hidden;
    width: 100vw;
    background-position: right;
  }

  .content-column {
    @media (min-width: 1250px) {
      padding-bottom: 250px;
    }
  }

  h1 {
    font-weight: 400;
  }
}

.page-container {
  // padding-top: 6%;
  background-color: $white;
  // padding-bottom: 20px;
  // padding-bottom: 2%;

  @media (min-width: 767px) {
    // padding-top: 92px;
  }
}

.page-container-padding-bottom {
  background-color: $white;
  padding-bottom: 6%;
}

.padding-top {
  padding-top: 20px;
}

.padding-bottom {
  padding-bottom: 20px;
}

.padding-bottom-40 {
  padding-bottom: 40px;
}
.margin-top {
  margin-top: 20px;
}

.margin-bottom {
  margin-bottom: 20px;
}

.no-margin {
  margin: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-margin-top {
  margin-top: 0;
}

.white {
  color: $white;
}

// .page-container-nocolor {
//   // margin-top: 92px;
//   // padding-bottom: 2%;
//   @media (max-width: 767px) {
//     margin-top: 0;
//   }
// }

.simplified-travel-list ul {
  margin-bottom: 0;
  -webkit-padding-start: 20%;

  @media (max-width: 960px) {
    -webkit-padding-start: 30%;
  }

  @media (max-width: 668px) {
    -webkit-padding-start: 20%;
  }

  @media (max-width: 500px) {
    -webkit-padding-start: 25%;
  }
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.margin-auto {
  margin: auto;
}

// .h1-2 {
//   font-size: 38px;
//   color: $white;
//   letter-spacing: 2.8px;
//   line-height: 50px;
//   text-align: center;
//   background: $lightgrey;
//   font-weight: 100;

//   @media (max-width: 432px) {
//     line-height: 40px;
//     padding-bottom: 15px;
//     padding-top: 15px;
//   }
// }

.headline {
  @extend h2;
  color: $black;
  font-size: x-large;
  font-weight: 100;
  letter-spacing: 1.69px;
  margin-top: 1em;
}

.grey-background {
  padding-bottom: 0%;
  // margin-top: 6%;

  @media (max-width: 1025px) {
    // margin-bottom:6%;
  }
}

.darkgrey-background {
  background-color: $darkblue;
}

.form-image img {
  margin: auto;
  opacity: .1;
}

.button-stlye {
  color: $white;
  letter-spacing: 3px;
}

img.md-card-image.jumbotron-image {
  max-width: 380px;
  width: 100%;
}

.material-icons {
  font-size: 70px;
}

.main-info-lg img {
  width: 95px;
}

.benefits {
  background-color: $greyblue;
  border-radius: 70px;
  color: $white;
  height: 50px;
  margin-bottom: -20px;
  padding: 20px;
  width: 50px;
}

.section-divider {
  background-color: $darkblue;
  height: 150px;
}

.get-there-faster img {
  margin-left: 5px;
  margin-right: 2px;
  width: 210px;
}

.member-details {
  margin-bottom: 2%;
  padding: 10px;

  i {
    background-color: $darkblue;
    border: $primary solid;
    border-radius: 48px;
    color: $white;
    padding: 10px;
  }

  h2 {
    font-size: 26px;
    margin-top: 10px;
  }
}

.footer {
background-color: #454545;
    color: #fff;
    /* height: 150px; */
    /* padding-bottom: 150px; */
        padding-top: 6%;
    padding-bottom: 18%;


  // p {
  //   margin-bottom:40px;
  // }

  .icons {
    margin-top: 15px;
    cursor: pointer;
  }
}

.faq-page h1 {
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 20px;
}

.question-categories .headline {
  cursor: pointer;
}

.headline:focus {
  outline: none;
}

.headline:hover {
  font-weight: 400;
}

.headline-selected {
  font-weight: bold;
}

.headline-selected:hover {
  font-weight: bold;
}


.question p {
  font-weight: bold;
}

.answer p {
  margin-top: 0;
}
