@import 'navigation';
@import 'md-settings';
@import 'video';
@import 'animation';
@import 'typography';

$darkblue: #263248;
$primary: #24aae1;
$greyblue: #7e8aa2;
$gold: #ff9800;
$black: #000;
$grey: #9b9b9b;
$darkgrey: #454545;
$lightgrey: #B4B4B4;
$white: #fff;
$primary-button-on-hover: #198ab9;
$anchor-color: #6ec4e9;

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

*:focus {
    outline: none;
}

body {
  background: $darkblue;
    font-family: $font-family-sans-serif;
}

h1, h2, h3 {
  font-weight: 300;
      // font-weight: 300;
    line-height: 1.1;
}

a {
  color: $anchor-color;
}

.container {
  max-width: 1500px;
  margin: auto;
}

.jumbo {
    height: 90vh;
    background: url(../images/mt-emmons-shrink2.png) no-repeat;
    // background: url(../images/header-image-1.png) no-repeat;
    background-size: cover;
    width: 100vw;
    background-position: right;
    overflow: hidden;
    // margin-bottom: 6%;

.content-column{
    

            @media (min-width: 1250px) {
      // padding-top: 92px;
        padding-bottom: 250px;
  }
}
  
  h1 {
        font-weight: 400;
  }


  // .margin-auto {
  //         @media (min-width: 1280px) {
  //     margin:0px;
  //     margin-left: 3%;
  //     }
  // }

    
  //         @media (min-width: 1025px) {
  //       margin-bottom: 0px;
  //     }
  
}

.page-container {
  // padding-top: 6%;
  background-color: $white;
  // padding-bottom: 6%;
  // padding-bottom: 2%;

      @media (min-width: 767px) {
      // padding-top: 92px;
  }
}

.page-container-nocolor {
  // margin-top: 92px;
  // padding-bottom: 2%;

      @media (max-width: 767px) {
      margin-top: 0px;
  }
}



// .list {
//   display: flex;
//   flex-wrap: wrap;
// }

.simplified-travel-list ul{
  margin-bottom: 0px;
  -webkit-padding-start: 20%;

        @media (max-width: 960px) {
      -webkit-padding-start: 30%;
  }

          @media (max-width: 668px) {
  -webkit-padding-start: 20%;
  }

            @media (max-width: 500px) {
  -webkit-padding-start: 25%;
  }
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
  margin-top: 0px;
}

.margin-auto {
  margin: auto;
}

// h1 {
//     font-family: Roboto;
//     font-size: 3em;
//     color: #000000;
//     letter-spacing: 5.59px;
//     line-height: 50px;
//     font-weight: 400;
//     text-transform: uppercase;}

// strong {
//   font-weight: 500;
// }

// h2 {
// font-family: Roboto;
//     font-size: 36px;
//     color: #000000;
//     letter-spacing: 2px;
//     line-height: 30px;
//     font-weight: lighter;
//     margin-top: 0px;
// }

// h3 {
//       font-family: Roboto;
//     font-size: 24px;
//     color: #000000;
//     line-height: 28px;
//     font-weight: lighter;
//     margin-top: 0px;
// }

.h1-2 {
  font-size: 38px;
  color: $white;
  letter-spacing: 2.8px;
  line-height: 50px;
  text-align: center;
  background: $lightgrey;
  // margin-top: 5px;
  // margin-bottom: 5px;
  font-weight: 100;

  @media (max-width: 432px) {
    line-height: 40px;
    padding-bottom: 15px;
    padding-top: 15px;
  }
}

.headline {
font-weight: 100;
@extend h2;
color: #000000;
letter-spacing: 1.69px;
margin-top:1em;
    font-size: x-large;
// line-height: 30px;
}

.grey-background {
  // background-color: #e7e7e7;
    // background-color: #e7e7e7;
    // padding-top: 5%;
    padding-bottom: 0%;
        // margin-top: 6%;
        margin-bottom: 6%;
    // margin-top: 6%;

    @media (max-width: 1025px) {
    // margin-bottom:6%;
  }
}

.darkgrey-background {
  background-color: $darkblue;
}

.form-image img{
      margin: auto;
    opacity: .1;
}

// *-*-*-*- THEME BUTTON STYLING *-*-*-*-

.button-stlye {
  letter-spacing: 3px;
  color: $white;
}

.desktop-nav-link {
  letter-spacing: 2px;
}

img.md-card-image.jumbotron-image {
  width: 100%;
  max-width: 380px;
}

.material-icons {
  font-size: 70px;
}

.main-info-lg img {
  width: 95px;
}

.benefits {
  background-color: $greyblue;
  border-radius: 70px;
  padding: 20px;
  color: $white;
  width: 50px;
  height: 50px;
  margin-bottom: -20px;


}

// *-*-*-*- SECTION STYLING *-*-*-*-
.section-divider {
  height: 150px;
  background-color: $darkblue;
}

.member-details {
      margin-bottom: 2%;
          padding: 10px;

      i {
            background-color: $darkblue;
    color: white;
    border-radius: 48px;
    padding: 10px;
        border: $primary solid;
      }

        h2{
    margin-top: 10px;
        font-size: 26px;
  }
}

.footer {
  background-color: $darkgrey;
  color: white;
  height: 150px;
  padding-top: 75px;
  padding-bottom: 120px;
  // position: absolute;
  // bottom: 0em;
}

.faq-page h1 {
      margin-top: 0px;
    padding-top: 20px;
    margin-bottom: 0px;
}

.question-categories .headline {
  cursor: pointer;
  // font-size: large;
}

.headline:focus {
  outline: none;
}

.headline:hover {
  font-weight: 400;
  // border-bottom: solid thin $black;
  // border-bottom-width: 20px;
}

.headline-selected {
  font-weight: bold;
  // font-size: 40px;
   // transition: font-size 0.2s ease;
}

.headline-selected:hover {
  font-weight: bold;
  // font-size: 40px;
   // transition: font-size 0.2s ease;
}


.question p {
  font-weight: bold;
}

.answer p {
  margin-top:0px;
}