<div ng-show="showMemberships" class="faq">
  <div class="question">
    <p>What does it cost to be a member?</p>
  </div>
  <div class="answer">
    <p>
      The cost varies based on the membership type. A personal or single membership starts with a one time initiation fee of $1500 and a monthly recurring fee of $1000/month. With a single membership, you can add up to two (2) additional members for +$750/month per person.
    </p>
    <p>
      A family membership includes four (4) members and starts with a one time initiation fee of $5,000 and a monthly recurring fee of $3000/month. A business membership also has four (4) members, but there are no names attached to these members - meaning the company who has the membership, can fly up to 4 people at any time and can rotate which personnel fly. This membership starts with a one time initiation fee of $10,000 and a monthly recurring fee of $3,500/month. Both the family membership and business membership can add up to two (2) additional members for +$500/month per person.
    </p>
  </div>
  <div class="question">
    <p> Can I fly as much as I want?</p>
  </div>
  <div class="answer">
    <p>
      Members are able to book any of the flights on the schedule. There are two restrictions. The first is that a member may only have up to two (2) scheduled legs (one ways) booked at any given time. Once one of those legs is completed, the member can go online and book their next leg. This is to avoid a member from booking out the whole season, preventing other members from getting on the flights they want. The second restriction is that a member can only complete a maximum of two (2) legs per Thursday-Monday period. Any additional legs requested above two (2) will be subject to a guest pass fee of $275 per person
    </p>
  </div>
  <div class="question">
    <p> Can I try out the service before becoming a member?</p>
  </div>
  <div class="answer">
    <p>
      Of course, we offer Introductory flights for potential new members to try our service before joining. The cost for a round trip Introductory Flight to any of our locations to and from Denver is $899. You can also purchase single legs for $449.50 each. Just like members, someone taking advantage of an introductory flight can only fly on a flight that has four (4) paying individuals on it and can count themselves as one of these people. Each person is able to take one (1) round trip introductory flight or two (2) single legs during a calendar year.
    </p>
  </div>
  <div class="question">
    <p> Can I bring a guest with me on a flight? </p>
  </div>
  <div class="answer">
    <p>
      Yes, each member is giving one free guest pass per month. This pass may be used for one flight (one-way) for a guest of their choice. Additional guest passes can be purchased for $275 per seat.
    </p>
    <p>
      A free guest pass will not count as a paid seat towards the minimum of four (4) paying individuals required to confirm a flight. The priority of seat allocation is as follows: Premier Access Member, Member, Introductory Flight Passenger, Paid Guest Pass, Free Guest Pass. So just note this, when you want to bring a guest!
    </p>
  </div>
  <div class="question">
    <p> What are the policies around booking flights? </p>
  </div>
  <div class="answer">
    <p>
      The following policies apply to booking flights.
    </p>
    <ul>
      <li>Flights must have four (4) paid passengers to confirm the flight (members, paid guests or introductory flyers) </li>
      <ul>
        <li>All flights are waitlisted until four (4) paid passengers have reserved seats</li>
        <li>If a flight has less than four (4) paid passengers on it when the 72 hour mark hits, the booked members will be notified and given the chance to pay the guest pass fee of $275 per open seat to get to four (4) paid members to confirm the flight. </li>
      </ul>
      <li>Once a flight has the maximum passenger count of seven (7), additional passengers are pushed to the waitlist</li>
      <ul>
        <li>If four (4) more paid passengers are on the waitlist for a full flight, FreshAir will either book a larger aircraft or an additional aircraft to accommodate these passengers. </li>
        <li>If there is an additional flight booked, it will typically fly on the same day although the departure schedule can vary from the original flight.</li>
      </ul>
      <li>Reservations MUST be made 72-hours prior to departure (no exceptions)</li>
      <ul>
        <li>If there are under four (4) paid passengers 72-hours prior, the flight is cancelled </li>
        <li>Once the flight has four (4) paid passengers booked, the flight is confirmed and others may reserve seats up until two hours prior to departure</li>
        <li>Premier Access members are about to guarantee a flight with no minimum paid passenger count, but still must book 72-hours prior to departure </li>
      </ul>
    </ul>
  </div>
  <div class="question">
    <p> Is there a way to better guarantee I will get on the flights I want to book?</p>
  </div>
  <div class="answer">
    <p>
      Yes! A member can upgrade their membership to include Premier Access. This membership upgrade allows the member to confirm a booked flight if there are less than four (4) paying members on it. This can only be done outside of 72 hours before the departure time. If the flight is cancelled because there were not enough paid seats 72 hour prior to departure, then it is no longer available.
    </p>
    <p>
      It also allows them to have priority access to seats even if there are not enough available. If a Premier Access member wishes to book seats on a flight when there aren’t enough available AND it is still outside of the 72 hour booking window, they are able to take priority of the seats over regular members. If this results in bumping a regular member out, they are notified and waitlisted for the next available flight. Within 72 hours of the departure time, no regular members may be removed and a Premier Access member can only book any remaining available seats.
    </p>
    <p>
      This can be added to each member for +$500/month.
    </p>
  </div>
  <div class="question">
    <p> Is there a contract or minimum commitment period?</p>
  </div>
  <div class="answer">
    <p>
      FreshAir has a non-binding, subscription based membership agreement. There is no contract to become a FreshAir member and the member can cancel at anytime with a 30 days written notice (see “How do I cancel or freeze my membership?” below). The is a 3 month minimum commitment period for any new member. If you have a request for a custom membership please reach out to us directly - <a href="#">air@freshjets.com </a>
    </p>
  </div>
  <div class="question">
    <p> When am I billed each month?</p>
  </div>
  <div class="answer">
    <p>
      Each member’s billing date will recur each month on the day of the month their account was activated on. For example, if a new member activates their account on the 15th of February, then they will be billed next on March 15th and each 15th of the month from then on.
    </p>
  </div>
  <div class="question">
    <p> When is my account activated?</p>
  </div>
  <div class="answer">
    <p>
      A new member's account is immediately activated upon sign up. The member can immediately start booking and taking flights upon activation.
    </p>
  </div>
  <div class="question">
    <p> Can I sign up for a membership and activate it on a future date?</p>
  </div>
  <div class="answer">
    <p>
      Yes, we do have members that will sign up for a memberships and activate them on a future date. This could be to take advantage of a promotion and activate it when they are going to start using it or to purchase a gift for someone in the future. The memberships initiation fee and first month must be paid at the time of sign up. If the activation date is different than the sign up date, the new member won’t have access to the booking platform or the ability to book flights until their activation date. The members recurring billing date is equal to the activation date each month.
    </p>
  </div>
  <div class="question">
    <p> Can I freeze my membership?</p>
  </div>
  <div class="answer">
    <p>
      A member can freeze their membership with 30 days written notice at any time. A member can freeze their account for up to 6 months at a time and can only freeze their account once in a calendar year. A $75 service charge will be incurred by the member to freeze their account.
    </p>
  </div>
  <div class="question">
    <p> How do I cancel my membership?</p>
  </div>
  <div class="answer">
    <p>
      A member can cancel their membership at any time with a written 30 day notice. When a member cancels, they will be billed for one last time on the next billing date. Their membership will become inactive 30 days after that final billing date. So for example, if my billing date each month is the 20th and I give notice on the 10th of the current month, I will be billed again 10 days later on the 20th and my membership will be active until the 20th of the following month. If my billing date is the 20th and I give notice on the 21st, I will still be billed the <i>following</i> 20th and have the additional 30 days after that - so plan accordingly.
    </p>
    <p>
      If a member cancels their membership and wishes to reactivate, they will be required to pay a new initiation fee equal to the current initiation fees for new members at that time.
    </p>
  </div>
  <div class="question">
    <p> How do I change my membership?</p>
  </div>
  <div class="answer">
    <p>
      The following changes can be made to a membership. Adding additional members, removing members, upgrading a member to Premier Access, downgraded a member from Premier Access to regular membership, changing the membership type (ie. individual, family or business). All of these changes must be made with 30 days written notice. There are no fees for these changes, just the difference in cost based on the change.
    </p>
  </div>
  <div class="question">
    <p>Are there opportunities to do larger memberships for my business which is larger than 6 people?</p>
  </div>
  <div class="answer">
    <p>
      Absolutely, we have the ability to create custom corporate memberships. Each of these will be designed to accommodate your specific needs and will be created on a one off basis.
    </p>
    <p>
      Please contact us directly to discuss what opportunities we can create for you - <a href="#">air@freshjets.com.</a>
    </p>
  </div>
  <div class="question">
    <p>Does this membership include any lodging or ground transportation?</p>
  </div>
  <div class="answer">
    <p>
      The membership itself does not include any lodging or ground transportation. We have the ability to provide ground transportation services in some cases. Additional fees will apply.
    </p>
  </div>
  <div class="question">
    <p>Are they any taxes or additional fees?</p>
  </div>
  <div class="answer">
    <p>
      All transactions are subject to the Federal Excise Tax (FET) of 7.5%. This will be added to initiation fees, membership recurring fees, introductory flight cost, paid guest passes or any other costs incurred with air travel. Additionally, each passenger is subject to a $4.00 segment fee per trip (each way). Both of these taxes are enforced by the Federal Government and are required to be paid separate from any of the above costs.
    </p>
  </div>
</div>