<div ng-show="showOperations" class="faq">
  <div class="question">
    <p>How does the process work when I get to the airport?</p>
  </div>
  <div class="answer">
    <p>
      This is part of the unique experience that you get with being a FreshAir member. Typically, you drive up to the terminal in your itinerary, give the tail number of the plane to the gatehouse and pull right up to the plane. The ground crew will park your car and you hop right on board. You are able to arrive 20min before your departure time with no security, no lines and no hassle.
    </p>
  </div>
  <div class="question">
    <p> What happens with delays or cancellations?</p>
  </div>
  <div class="answer">
    <p>
      Though we hope our member’s flight schedule is never affected, the reality is that weather, airport operations and other factors out of our control can compromise our ability to fly safely and on time. When this happens we will immediately notify the members on the flight and offer solutions when available. Sometimes this results in delayed departure times, rescheduled flight times and cancellations. These situations are handled on a case by case basis and we strive to provide the safest and fastest alternatives.
    </p>
  </div>
  <div class="question">
    <p> How does parking work at the airport?</p>
  </div>
  <div class="answer">
    <p>
      Parking is one of the best parts of being a FreshAir member! All you need to do is pull right up to the plane and the ground crew for the flight operator will park your car for free. You can pick up up as soon as you land back at that airport.
    </p>
  </div>
  <div class="question">
    <p> How early do I need to arrive before the scheduled departure time? </p>
  </div>
  <div class="answer">
    <p>
      A good rule of thumb is 20-30min early. Plan on arriving no later than 20min before your departure to ensure an on time take off. See below if you are running late.
    </p>
  </div>
  <div class="question">
    <p> What happens if I am running late for my flight? </p>
  </div>
  <div class="answer">
    <p>
      There is a 15min grace period that we will wait on the ground for you to arrive if you are running late. After that the plane will dust off and leave you! It is very important to stay on schedule as there are multiple flights per day headed to multiple destinations. The longer a flight is delayed to more every other flight gets delayed. Please call us directly as soon as you know you are going to be late so we can inform the operator.
    </p>
    
  </div>
  <div class="question">
    <p> Can I bring my dog/pet with me? </p>
  </div>
  <div class="answer">
    <p>
      Generally the answer to this question is no. However, if your pet is a registered service or therapy animal then you are good to go! It’s easier than you think to have your pet registered. If you have a question about your specific pet and if they can fly, please reach out to us via email - <a href="3">air@freshjets.com.</a>
    </p>
  </div>
  <div class="question">
    <p> What kind of luggage am I allowed to bring? </p>
  </div>
  <div class="answer">
    <p>
      We recommend that you bring up to a carry size piece of luggage and a personal item. Just think the same carry on size rules as a commercial flight. If you have more luggage than a carry on and personal item (ski equipment, golf clubs, larger or heavier pieces of luggage, etc) please let us know with your reservation. In some cases we can accomodate larger peices of luggage and if not we are partnered with Luggage Forward - <a href="http://www.luggageforward">luggageforward.com</a>. We offer this service to have your over sized luggage delivered to your destination at an additional fee.
    </p>
    <p>
      Also, please note that even though your luggage is not checked through security, you must follow the following guidelines on hazardous materials.
    </p>
    <p>
      Air Passenger Notification of Hazardous Materials Restrictions:<br>
      Federal law forbids the carriage of hazardous materials aboard aircraft in your luggage or on your person. A violation can result in five years' imprisonment and penalties of $250,000 or more (49 U.S.C. 5124). Hazardous materials include explosives, compressed gases, flammable liquids and solids, oxidizers, poisons, corrosives and radioactive materials. Examples: Paints, lighter fluid, fireworks, tear gases, oxygen bottles, and radio-pharmaceuticals. There are special exceptions for small quantities (up to 70 ounces total) of medicinal and toilet articles carried in your luggage and certain smoking materials carried on your person. For further information navigate to <a href="http://www.faa.gov/packsafe">www.faa.gov/packsafe</a>.
    </p>
    <p>
      TSA Prohibited Items List:<br>
      What items can be carried-on or checked? Sharp objects, sporting goods, guns & firearms, tools, martial arts and self-defense items, explosive and flammable materials, disabling chemicals and other dangerous items may be prohibited. For a copy of TSA ’s Prohibited Items List visit <a href="https://www.tsa.gov/sites/default/files/assets/prohibiteditems_brochure.pdf">here</a>. The list is not intended to be all-inclusive. Passengers are encouraged to check with your operation team.
    </p>
  </div>
  <div class="question">
    <p> What kind of aircraft will I be flying in? </p>
  </div>
  <div class="answer">
    <p>
      We use several different aircraft from our partners, based on availability. Typically these aircraft are 7 seats and range from turboprops to light jets. The most common aircraft used are Citation V, Citation II, Learjet 35, Hawker 400XP, Beachjet 400A, King Air 200, King Air 300 and Pilatus PC-12. The aircraft is typically confirmed with the itinerary within 12 hours prior to departure.
    </p>
  </div>
  <div class="question">
    <p> What airports do you fly in and out of? </p>
  </div>
  <div class="answer">
    <p>
      Currently we are operating out of <a href="http://www.centennialairport.com/index.php/en/"> Centennial Airport (APA)</a>, <a href="http://www.eaglevailairport.com/vail-airport">Eagel/Vail Airport (EGE)</a>, <a href="http://aspenairport.com/">Aspen Airport (ASE)</a>, and <a href="http://tellurideairport.com/">Telluride Airport (TEX)</a>. We will be operating out of Rocky Mountain Metropolitan Airport (BJC) in Broomfield, CO, starting in March 2016.
    </p>
    <p>
      At each of these airports we fly in out out of private terminals called FBOs. You will be giving which Terminal (FBO) you will be flying out of on your itinerary for each flight.
    </p>
    <p>
      Here are the most common FBOs we operate out of:<br>
      Centennial Airport: X-Jet, Signature Flight Support and Denver Jet Center <br>
      Eagle/Vail Airport: Vail Valley Jet Center<br>
      Aspen Airport: Atlantic Aviation <br>
      Telluride Airport: Telluride Regional Airport (only terminal at this airport)<br>
    </p>
    <p>
      If we use a different FBO than what is listed above, it will be indicated on your itinerary.
    </p>
  </div>
  <div class="question">
    <p> Who owns and operates the planes for this membership? </p>
  </div>
  <div class="answer">
    <p>
      FreshAir does not own or operate any aircraft. We partner with local jet operators, who conduct the flights for our members. We only work with jet operators with Argus Safety Ratings and have extensive mountain flying experience to ensure you get to these destinations safely. The operator can vary from flight to flight and will be indicated on your itinerary.
    </p>
  </div>
  <div class="question">
    <p> How safe are the jet operators FreshAir works with? </p>
  </div>
  <div class="answer">
    <p>
      All of the jet operators that we work with are Argus or Wyvern Safety rated. We also only work with pilots that have extensive mountain flying experience to ensure you will arrive safely to your destination.
    </p>
    <p>
      Argus Safety Rating - <a href="http://www.argus.aero/">http://www.argus.aero/</a>
    </p>
    <p>
      Wyvern Saftey Rating - <a href="http://www.wyvernltd.com/">http://www.wyvernltd.com/</a>
    </p>
    <p>
      Statistically, flying to the mountains is much safer than driving and we make sure we only fly with the safest pilots, planes and operators.
    </p>
  </div>
  <div class="question">
    <p> Will there be Wifi on the flight? </p>
  </div>
  <div class="answer">
    <p>
      Short answer is not likely. It depends on which plane is being used and on short trips like this it is rare. Don’t plan on it, but you might get lucky!
    </p>
  </div>
  <div class="question">
    <p> Is there food/drink service on the flights? </p>
  </div>
  <div class="answer">
    <p>
      The flights are so short you will land before you ever think about food and drink! But just in case you do, most planes come stocked with snacks and water.
    </p>
  </div>
</div>