  <div ng-show="showScheduleAndReservations" class="faq">
    <div class="question">
    <p>When are these flights?</p>
    </div>
    <div class="answer">
      <p> 
        Flights happen on a regularly scheduled weekly basis.
      </p>
      <p> 
        Thursday Departures: (1) Denver –> Telluride –> Denver; (2) Denver –> Aspen –> Denver <br>
        Friday Departures: (1) Denver –> Eagle-Vail –> Telluride;  (2) Telluride –> Eagle-Vail –> Denver <br>         
        Sunday Departures: (1) Denver –> Eagle-Vail; (2) Eagle-Vail –> Denver <br>                                
        Monday Departures: (1) Denver –> Aspen –> Denver; (2) Denver –> Telluride –> Denver <br>
      </p>
      <p>
        It is our goal to complete this schedule each week as posted, however, the schedule and times may vary based on events/airport operations out of our control. Please see “How often do the scheduled flight times or days change?” question for more details.
      </p>
    </div>
        <div class="question">
    <p> How do I book my flights?</p>
    </div>
    <div class="answer">
      <p> 
        We provide all members with access to our online flight booking platform. This allows members to easily book their flights in seconds and manage their reservations. They will also be able to see flight schedules, available seats, confirmation status of flights, book guests, etc. Members are able to login right from our home page. If you are interested in booking an Introductory Flight, please contact us directly - <a href="#">888.733.0175.</a>
      </p>
    </div>
    <div class="question">
    <p> Can I request a change in the flight time?</p>
    </div>
    <div class="answer">
      <p> 
        Unfortunately, we are not able to accommodate individual schedule requests. In order to best serve our members, we have to stick to the scheduled departure times. These times may change however, do to elements outside of our control including weather and airport operations. 
      </p>
    </div>
    <div class="question">
    <p> How often do the scheduled flight times or days change?</p>
    </div>
    <div class="answer">
      <p>
        Scheduled flight times can change for a number of reasons, but we do our best to stick to the posted schedule. Most of these reasons are out of control and include weather and airport operations at the top of the list. We will notify each member on the flight if there are any delays or cancellations due to weather. We will do the same if there are any changes in the schedule do to airport operations. Occasionally, we will alter the schedule as a whole to better serve our members, this will happen with as much advanced notice as we can provide. 
      </p>
    </div>
    <div class="question">
      <p> Once a flight is booked how and when do I receive the itinerary? </p>
    </div>
    <div class="answer">
      <p>
        As soon as we have locked down the airplane and flight details from the operator, they will  generate the flight itinerary and send it to us. We will then forward you the flight details and attached itinerary. This will give you the tail number, the schedule and the FBO/terminal you will be departing from. Members can expect to receive the flight itinerary up to 12 hours prior to departure.   
      </p>
        
    </div>
    <div class="question">
      <p> How much notice do I need to give to cancel a flight I’ve reserved?</p>
    </div>
    <div class="answer">
      <p>
        We are reasonable people and understand that life happens. We ask that you give us notice of cancellation as soon as you know that you can no longer make the flight. Ideally this happens more than 2 hours before departure. If a passenger cancels within 2 hours of departure or no shows and doesn’t notify us we reserve the right to charge a $275 cancellation fee. This will be accessed on a case by case basis. No notice of cancellation and no shows can cause ground delays and negatively affect FreshAir and the jet operator, so let’s all work together to make this work!
      </p>
    </div>
    <div class="question">
      <p> Do you fly on holidays?</p>
    </div>
    <div class="answer">
      <p>
        The typical flight schedule may change around holidays. We may fly on the actual holiday or around it to best accommodate our members travel plans. If the regular schedule changes for an upcoming holiday, it will be posted on the online booking platform in advance. 
      </p>
    </div>
  </div>