<div ng-show="showWhatIsFreshAir" class="faq">
  <div class="question">
    <p>What is FreshAir?</p>
  </div>
  <div class="answer">
    <p>
      FreshAir is a membership based ride sharing program that allows members to fly private on a scheduled weekly basis from Denver to Aspen, Telluride and Vail. Members can skip the traffic on the ground and significantly reduce their travel time. They can fly on any of the scheduled flights each week to and from each of these locations.
    </p>
  </div>
  <div class="question">
    <p> What are the benefits of a FreshAir membership?</p>
  </div>
  <div class="answer">
    <p>
      FreshAir members can book flights in seconds, arrive at the airport 20 minutes before departure, enjoy no security lines, park their car for free and most importantly skip the traffic! Members benefit most from the time they save. The average flight times are 20-40min compared to endless hours on the road.
    </p>
  </div>
  <div class="question">
    <p> Is a FreshAir membership ideal for me?</p>
  </div>
  <div class="answer">
    <p>
      Do you regularly drive two to eight hours up to the mountains or back to Denver? Then you need a FreshAir membership. Why waste your valuable work or play time in the car? Or in the security line at the airport? FreshAir eliminates the frustration, hassle and wasted time that is currently part of the way you travel in Colorado. What will you do with all that extra time?
    </p>
  </div>
  <div class="question">
    <p> What makes a FreshAir membership different from a private charter? </p>
  </div>
  <div class="answer">
    <p>
      Charting your own jet can be expensive and requires advanced prior planning. FreshAir is a ridesharing program that allows you to book flights in seconds and experience the same benefits of flying privately without paying the hefty price tag. Instead of paying per flight, our members pay one monthly fee and get access to seats on any of the confirmed flights on our schedule.
    </p>
  </div>
  <div class="question">
    <p> What makes a FreshAir membership different from flying with traditional commercial airlines? </p>
  </div>
  <div class="answer">
    <p>
      We all know the hassle (and sometimes nightmare) of traveling on a commercial airline. FreshAir aims to eliminate these pain points and bring the fun and convenience back into air travel. As a FreshAir member, you can arrive 20min before departure time, pull right up to the plane, have your car parked for you, enjoy no security or check in lines and hop right on board. You can be in the mountains faster than it would take you to check in and clear security with a commercial flight.
    </p>
  </div>
  <div class="question">
    <p> Do you plan to expand service to other locations?</p>
  </div>
  <div class="answer">
    <p>
      We have had many requests for new routes and destinations. We are very excited to continue serving the communities of Aspen, Denver, Eagle/Vail and Telluride for many years to come. We hope to add even more sought-after destinations including Steamboat Springs via Hayden Airport (HDN) and Crested Butte via Gunnison (GUC). We are also planning to start operations from Rocky Mountain Metropolitan Airport (BJC) in Broomfield, CO starting March, 15th 2016.
    </p>
    <p>
      Send a request for your desired destination <a href="#">here.</a>
    </p>
  </div>
</div>