<!-- <div ng-controller="mapCtrl">
  <div layout>
    <h1 flex="60" class="margin-auto text-center padding-top"> VAIL </h1>
  </div>
  <div layout>
    <h3 flex="60" class="text-center margin-auto padding-bottom" >
    Enjoy flights to Eagle-Vail Regional Airport (EGE) every Thursday and Friday with return flights on Sunday and Monday.
    </h3>
  </div>
  <div layout>
    <img src="../../images/map/airports/Vail.jpg" class="margin-auto text-center" style="width:600px; height:400px; opacity: .6; max-width:100%">
  </div>
  <div layout>
    <h4 class="text-center margin-auto padding-top padding-bottom">
    <a href="/contact"> Contact us</a> to speak with one of our specialists and to receive flight times.
    </h4>
  </div>
</div>
 -->

 <div style="max-width:800px;" ng-controller="mapCtrl" ng-cloak>
<div layout flex="100">
<i ng-click="cancel()" style="text-align:right; cursor:pointer" class="material-icons">&#xE5CD;</i>
</div>
  <div layout>
    <h1 flex="60"  style="margin-top:-20px;" class="margin-auto text-center"> VAIL </h1>
  </div>
  <div layout>
    <h3 flex="80" class="text-center margin-auto padding-bottom" >
    Enjoy flights to Eagle-Vail Regional Airport (EGE) every Thursday and Friday with return flights on Sunday and Monday.
    </h3>
  </div>
<!--   <div layout> -->
  <div style="width:100%; text-align: center;">
    <img src="../../images/map/airports/Vail.jpg" class="margin-auto text-center" style=" opacity: .6; max-width:90%">
    </div>
<!--   </div> -->
  <div layout>
    <h4 flex="95" class="text-center margin-auto padding-top padding-bottom-60">
    <a href="/contact" ng-click="cancel()"> Contact us</a> to speak with one of our specialists and to receive flight times.
    </h4>
  </div>
</div>