<div layout="column">
  <div flex="100">
    <div class="footer text-center">
      <div flex="60" class="margin-auto">
        <p>© 2016 FreshAir Inc. All rights reserved. </p>
        <p>FreshAir Inc does not own or operate aircraft. Flights are provided by professional aircraft operators who are authorized by the FAA and DOT to provide on demand air charter service. </p>
      </div>
      <div layout flex-xs="50" flex-sm="40" flex-gt-sm="20" class="icons margin-auto">
        <!--         <img class="margin-auto" flex="10" src="/images/icons/twitter-circle.png"> -->
        <!--         <img class="margin-auto" flex="10" src="/images/icons/google-plus.png"> -->
        <!--  <img class="margin-auto" flex="10" src="/images/icons/linkedin-box.png"> -->
        <a  class="margin-auto" href="https://www.facebook.com/flyfreshair/?fref=ts" target="blank">
          <img style="
          width: 35px;
          "src="/images/icons/facebook.png">
        </a>
        
        <a  class="margin-auto" href="https://www.instagram.com/flyfreshjets/" target="blank">
          <img style="
          width: 35px;
          " class="margin-auto" src="/images/icons/instagram.png">
        </a>
      </div>
    </div>
  </div>
</div>
