<div layout="row" class="grey-background margin-auto" flex-sm="75" ng-cloak flex="100">
<!-- <div layout="row">
<h1> Welcome to FreshAir: </h1>
</div> -->
  <div layout="row" flex-gt-sm="80" layout-xs="column" layout-sm="column" class="margin-auto">

<!--   <div class="text-center" flex>
    <h1>FreshAir: </h1>
  </div> -->

  <div flex class="text-center member-details">
<!--     <md-card class="white-card">
      <md-card-title>
        <md-card-title-text> -->
          <i class="material-icons">lock_open</i>
          <h2>Unlimited Flights</h2>
<!--         </md-card-title-text>
      </md-card-title>
      <md-card-content> -->
        <p flex-sm="60" flex-xs="75" class="margin-auto">
         All-you-can-fly each month and the only restriction is you can book up to two round-trip flights at a time. Flights depart Denver's private airport in Centennial to and from Aspen, Telluride & Vail.
        </p>
<!--       </md-card-content>
    </md-card> -->
  </div>

 <div flex class="text-center member-details simplified-travel-list">
<!--     <md-card class="white-card">
      <md-card-title>
        <md-card-title-text> -->
          <i class="material-icons">directions_car</i>
          <h2>Simplified Travel</h2>
<!--         </md-card-title-text>
      </md-card-title>
      <md-card-content> -->
        <ul class="text-left">
          <li> No lines, no wait.</li>
          <li> No hidden fees of any kind. </li>
          <li> 30-second booking. </li>
          <li> Hassle-free airport experience. </li>
        </ul>
<!--       </md-card-content>
    </md-card> -->
  </div>

  <div flex class="member-details text-center">
<!--     <md-card class="white-card">
      <md-card-title>
        <md-card-title-text> -->
          <i class="material-icons">flight_takeoff</i>
          <h2>The Experience</h2>
<!--         </md-card-title-text>
      </md-card-title>
      <md-card-content> -->
        <p flex-sm="60" flex-xs="75" class="margin-auto">
        FreshAir utilizes 7-seat aircraft (turboprops or light jets) for the majority of its flights. We occassionaly bump up to midsize and heavy jets during peak demand. Dual pilots always.
        </p>
<!--       </md-card-content>
    </md-card> -->
  </div>
  </div>
</div>

