

<!-- 
  <md-card>
 <img src= alt="image caption">
 <md-card-content>
   <h2>Card headline</h2>
   <p>Card content</p>
 </md-card-content>
 <md-card-actions layout="row" layout-align="end center">
   <md-button>Action 1</md-button>
   <md-button>Action 2</md-button>
 </md-card-actions> -->


<!--   <body layout-fill>
    <div ng-controller="AppCtrl" layout='column'>
    <md-content class="md-padding" layout-xs="column" layout="row">
 <md-card>
    <div flex-gt-sm="33" layout-align="center center" layout="column">
   <img src="../../images/traffic.jpg" flex width="5">
    </div>
</md-card>
      </md-content>
  </body> -->


  <div flex layout="row" layout-sm="column" class="text-center">
    <md-card class="wasting-time-card" flex>
          <md-card-content>
<!--               <h2> 
                Why sit in traffic when you can fly to the mountains in 40 minutes? 
              </h2> -->
<!--               <h2>
                For one low monthly membership fee have unlimited access to weekly flights to Telluride, Aspen and Vail*
              </h2>
              <md-button class="md-raised md-primary btn1">VIEW FLIGHT SCHEDULE</md-button>
              <p>
                *Plans to expand our offerings to Steamboat and Crested Butte are currently under negotiation.
              </p> -->
          </md-card-content>
    </md-card>
</div>